<div class="row mb-1">
  <div class="col-md">
    <a class="btn btn-info float-right" [routerLink]="['/cliente']" skipLocationChange>Voltar</a>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="card mb-3">
      <div class="card-header">
        Cadastro Cliente
      </div>
      <div class="card-body">
        <form [formGroup]="clienteForm" novalidate>
          <div class="row">
            <div class="col-md-2">
              <app-input-container errorMessage="" label="Data Cadastro">
                <input class="form-control" formControlName="cadastro" placeholder="Data Cadastro" autocomplete="off"
                  [value]="cliente.dataCadastro | amDateFormat:'DD/MM/YYYY'">
              </app-input-container>
            </div>
            <div class="col-md-2">
              <app-select-constainer errorMessage="Campo obrigatório" label="Tipo Pessoa">
                <select class="form-control" [(ngModel)]="cliente.tipoPessoa" formControlName="tipoPessoa" (change)="cliente.cpfCnpj = ''">
                  <option value="" [selected]="cliente.tipoPessoa == ''">Selecione</option>
                  <option *ngFor="let tipo of listaTipoPessoa" [(value)]="tipo.idTipo"
                    [selected]="tipo.idTipo == cliente.tipopessoa">{{tipo.desc}}</option>
                </select>
              </app-select-constainer>
            </div>
            <div class="col-md-8">
              <app-input-container errorMessage="Campo obrigatório e valor inválido" label="Identificação">
                <input class="form-control" formControlName="cpfCnpj" placeholder="Identificação" autocomplete="off"
                  [(ngModel)]="cliente.cpfCnpj" [textMask]="{mask: cliente.tipoPessoa == 'F' ? maskCpf : maskCnpj}"
                  [readonly]="cliente.tipoPessoa == ''">
              </app-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
                <input class="form-control" formControlName="name" placeholder="Nome" autocomplete="off"
                  [(ngModel)]="cliente.nome">
              </app-input-container>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md">
            <div class="card ml-1 mr-1">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link hand-pointer" [class.active]="activeTabIndex == 0"
                      (click)="activeTabIndex = 0">Endereço</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hand-pointer" [class.active]="activeTabIndex == 1"
                      (click)="activeTabIndex = 1">Telefone</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div [class.invisible]="activeTabIndex != 0">
                  <app-endereco [(enderecosCliente)]="cliente.listaEnderecos" [(listaUf)]="listaUf"
                    (removeEndereco)="removeEndereco($event)" (insertEndereco)="insertEndereco($event)"
                    (updateEndereco)="updateEndereco($event)"></app-endereco>
                </div>
                <div [class.invisible]="activeTabIndex != 1">
                  <app-telefone [(telefonesCliente)]="cliente.listaTelefones" (removeTelefone)="removeTelefone($event)"
                    (insertTelefone)="insertTelefone($event)" (updateTelefone)="updateTelefone($event)"></app-telefone>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer text-muted">
        <a class="btn btn-info float-right ml-1" [routerLink]="['/cliente']" skipLocationChange>Cancelar</a>
        <button (click)="checkClient(clienteForm.value)" class="btn btn-primary float-right"
          [disabled]="!clienteForm.valid">
          <i class="fa fa-floppy-o"></i> Salvar Cliente
        </button>
      </div>
    </div>
  </div>
</div>
