<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" *ngIf="isLoggedIn()">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/main']" skipLocationChange>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/pessoa']" skipLocationChange>Pessoa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/cliente']" skipLocationChange>Cliente</a>
          <a class="dropdown-item" [routerLink]="['/upload-files']" skipLocationChange>Arquivos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="sair()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
