<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <a class="btn btn-primary" [routerLink]="['/cadastro-cliente']" skipLocationChange>Novo Cliente</a>
        <button type="button" class="btn btn-info float-right" (click)="recuperarClientes()"><i
            class="fa fa-refresh"></i></button>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <caption>Lista de Clientes</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">CPF/CNPJ</th>
              <th scope="col">Data de Cadastro</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of dataClientes">
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.cpfCnpj }}</td>
              <td>{{ cliente.dataCadastro | amDateFormat:'DD/MM/YYYY' }}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm mr-1" (click)="editarCliente(cliente)"><i
                    class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-info btn-sm" (click)="excluirCliente(cliente)"><i
                    class="fa fa-remove"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
