<div class="row" *ngIf="!isEdit">
  <div class="col-md">
    <button type="button" class="btn btn-info btn-sm float-right" (click)="novoTelefone()">Novo Telefone&nbsp;<i
        class="fa fa-pencil-square"></i></button>
  </div>
</div>
<form [formGroup]="telefoneForm" novalidate>
  <div *ngIf="isEdit">
    <div class="row">
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
          <input class="form-control" formControlName="codPais" placeholder="codPais" autocomplete="off"
            [(ngModel)]="telefoneEdit.codPais">
        </app-input-container>
      </div>
      <div class="col-md-3">
        <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Número">
          <input class="form-control" formControlName="ddd" placeholder="ddd" autocomplete="off"
            [(ngModel)]="telefoneEdit.ddd">
        </app-input-container>
      </div>
      <div class="col-md-3">
          <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Número">
            <input class="form-control" formControlName="numeroTelefone" placeholder="numero" autocomplete="off"
              [(ngModel)]="telefoneEdit.numeroTelefone">
          </app-input-container>
        </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button type="button" class="btn btn-danger btn-sm float-right ml-1" (click)="isEdit=false">Cancelar<i
            class="fa fa-cancel"></i></button>
        <button type="button" class="btn btn-info btn-sm float-right" (click)="salvarTelefone()"
          [disabled]="!telefoneForm.valid">Salvar
          Endereço&nbsp;<i class="fa fa-pencil-square"></i></button>
      </div>
    </div>
  </div>
</form>
<div class="row mt-1">
  <div class="col-md">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="invisible">idEndereco</th>
          <th scope="col">Cód. País</th>
          <th scope="col">DDD</th>
          <th scope="col">Número</th>
          <th scope="col" *ngIf="!isEdit">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let telefone of telefonesCliente">
          <td class="invisible">{{telefone.idTelefone}}</td>
          <td>{{telefone.codPais}}</td>
          <td>{{telefone.ddd}}</td>
          <td>{{telefone.numeroTelefone}}</td>
          <td *ngIf="!isEdit">
            <button type="button" class="btn btn-info btn-sm mr-1" (click)="editarTelefone(telefone)"><i
                class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-info btn-sm" (click)="excluirTelefone(telefone)"><i
                class="fa fa-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
