<div class="row">
    <div class="col-md">
      <button type="button" class="btn btn-info btn-sm float-right" (click)="novoTelefone()">Novo Telefone&nbsp;<i
        class="fa fa-pencil-square"></i></button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="invisible">idEndereco</th>
            <th scope="col">Cód. País</th>
            <th scope="col">DDD</th>
            <th scope="col">Número</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let telefone of telefonesCliente">
            <td class="invisible">{{telefone.idTelefone}}</td>
            <td>{{telefone.codPais}}</td>
            <td>{{telefone.ddd}}</td>
            <td>{{telefone.numeroTelefone}}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm mr-1" (click)="editarTelefone(telefone)"><i
                  class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-info btn-sm" (click)="excluirTelefone(telefone)"><i
                  class="fa fa-remove"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  